@tailwind base;
@tailwind components;
@tailwind utilities;



/* Define the custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Define the track (the area the thumb moves on) */
  ::-webkit-scrollbar-track {
    background-color: #e8e8e8; /* Set the color of the track */
  }
  
  /* Define the thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background-color: #a8a8a8; /* Set the color of the thumb */
    border-radius: 3px; /* Optional: Add rounded corners to the thumb */
  }
  
  /* Define the hover effect for the thumb */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #717171; /* Change the color on hover if desired */
  }

  
li {
    list-style: none;
}

.listStyle-1 {
    padding: 4px 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0 , 0.5);
    transition: all .2s ease-in-out;
    line-height: 0;
}

.listStyle-1:hover {
    box-shadow: 0px 0px 5px rgb(6, 195, 167);
}

.listStyle-1.active {
  box-shadow: 0px 0px 5px rgb(6, 195, 167);
}

.infoUl li {
    list-style: circle;
}

.whiteBoxShadow {
  background-color: white ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.5);
}


.whiteBoxShadow1 {
  background-color: white ;
  box-shadow: 0px 0px 5px rgba(0, 0, 0 , 0.5);
  transition: all 0.3s ease-in-out;
}
.whiteBoxShadow1:hover {
  background-color: white ;
  box-shadow: 0px 0px 5px rgba(2, 255, 192, 0.71);
}

.notFound {
  width: full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ProjectgridArea {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

.ProjectgridArea:hover > :not(:hover){
  opacity: 0.5;
}

@media only screen and (max-width: 764px) {
  .ProjectgridArea {
    grid-template-columns: repeat(2, 1fr);
  }
  .gridprjItem:last-child{
    display: none;
  }
}
@media only screen and (max-width: 450px) {
  .ProjectgridArea {
    grid-template-columns: 2fr;
  }
}

  @media only screen and (min-width: 764px) {
    .gridprjItem:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
    }

  }

.gridprjItem {
  border-radius: 10px;
  transition: all .3s ease-in-out;
}


.Contact-Card {
  background-color: white ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.5);
  border-radius: 4px;
  padding: 8px 10px;
}


/* HumBurger Button */
.humburger-btn {
  width: 25px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 99;
  cursor: pointer;
  
}

.bar-line {
  width: 100%;
  height: 3px;
  background-color: rgb(51 65 85);
  box-shadow: small;
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

.bar-line::before ,
.bar-line::after
 {
  content: '';
  display: block;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  height: 3px;
  background-color: rgb(51 65 85);
  transition: all .5s ease-in-out;
}

.bar-line::before {
  transform: translateY(-10px);
  transition: all .5s ease-in-out;
}
.bar-line::after {
  transform: translateY(10px);
}

.humburger-active .bar-line {
   transform: translateX(-100%);
   background: transparent;
}
.humburger-active .bar-line::before {
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg) translate(18px , -18px)
}
.humburger-active .bar-line::after {
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg) translate(18px , 18px)
}
/* HumBurger Button */
.humburgerMenuWrapper {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 200px;
  align-items: center;
  top: 0;
  right: -100%;
  width: max-content;
  min-height: 100vh;
  background-color: rgb(23, 42, 59);
  transition: all 0.3s ease-in-out;
  z-index: 10;
}

.humburgerMenuWrapper.active {
  position: fixed;
  display: flex;
  flex-direction: column;
  padding: 10px;
  right: 0;
  align-items: center;
  width: max-content;
  transition: all 0.3s ease-in-out;
}


.ServiceTitleBg {
  background-color: rgba(0, 0, 0 , 0.5);
}

.swiper  {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  width: max-content;
  height: max-content;
}
.swiper-pagination {
  position: relative !important;
  margin-top: 20px;
}
.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  border-radius: 2px !important;
}
.swiper-pagination-bullet-active {
  background-color: #27BF9B !important;
}

.blackBgRgba {
  background-color: rgba(0, 0, 0, 0.5);
}

.input1 {
  border: 2px solid rgb(233, 233, 233);
  outline: none;
  padding: 12px 12px;
  border-radius: 5px;
  font-size: 13px;
  transition: all .2s ease-in-out;
}
.input1::placeholder {
  text-transform: capitalize;
}

.input1:focus {
  border: 2px solid #27BF9B;
}

.errorInput {
  border: 2px solid #da2837;
}

.errorInput:focus {
  border: 2px solid #da2837;
}

.btn1 {
  color: white;
  line-height: 2;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 10px;
  width: 100%;
  background-color: #27BF9B;
}
.btn1:hover {
  background-color: #448e7d;
}
.btn2 {
  color: white;
  font-size: 14px;
  border-radius: 4px;
  padding: 8px 0px;
  width: 100%;
  background-color: #bf2727;
}
.btn2:hover {
  background-color: #862424;;
}
.btn3 {
  display: flex;
  align-items: center;
  gap: 8px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  border-radius: 4px;
  height: 40px;
  padding: 8px 8px;
  width: 100%;
  min-width: max-content;
  background-color: #ebebeb;
}
.btn3:hover {
  background-color: #dadada;;
}

.btn4 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(36, 36, 36);
  font-size: 14px;
  border-radius: 4px;
  height: 40px;
  padding: 8px 8px;
  width: 100%;
  min-width: max-content;
  background-color: #ebebeb;
}
.btn4:hover {
  background-color: #dadada;;
}

.toastContainer {
  z-index: 99999999999;
}

.chooseImageBtnWrapper {
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  right: 0;
  bottom: 0;
  position: absolute;
  background: #FBBC05;
  transition: all 0.3s ease-in-out;
}
.chooseImageBtnWrapper:hover {
  transition: all 0.3s ease-in-out;
  background: #000;
}

.chooseImageBtnWrapper button {
  position: relative;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: pointer;
}

.chooseImageBtnWrapper button input[type="file"] {
  cursor: pointer;
  position: absolute;
  transform: scale(3);
  opacity: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.errorSpan {
  font-size: 12px;
  color:#da2837;
}