.main {
 position: relative;
 width: 100%;
 display: flex;
 gap: 20px;
 padding: 0px 15px 0px 15px;
 min-height: 100vh;
 flex-shrink: 0;
}

@media only screen and (max-width: 764px) {
    .main {
      padding: 0px 5px;
      gap: 10px;
    }
}

.sideBarWrapper {
    max-height: 100vh;
    padding: 15px 0px;
    position: sticky;
    top: 0;
    flex: 1;
    left: 0;
    display: flex;
    align-items: center;
}

@media only screen and (max-width: 764px) {
    .sideBarWrapper {
      padding: 5px 0px;
    }
}

.dashobardWrapper {
  position: relative;
  top: 0;
  padding: 15px 0px;
  width: 100%;
  flex: 4.5;
  display: flex;
  flex-direction: column;
  gap:15px;
}

@media only screen and (max-width: 764px) {
    .dashobardWrapper {
      padding: 5px 0px;
    }
}