@tailwind base;
@tailwind components;
@tailwind utilities;

/* Define the custom scrollbar styles */
::-webkit-scrollbar {
    width: 8px; /* Set the width of the scrollbar */
  }
  
  /* Define the track (the area the thumb moves on) */
  ::-webkit-scrollbar-track {
    background-color: #e8e8e8; /* Set the color of the track */
  }
  
  /* Define the thumb (the draggable handle) */
  ::-webkit-scrollbar-thumb {
    background-color: #a8a8a8; /* Set the color of the thumb */
    border-radius: 3px; /* Optional: Add rounded corners to the thumb */
  }
  
  /* Define the hover effect for the thumb */
  ::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background-color: #717171; /* Change the color on hover if desired */
  }

  
li {
    list-style: none;
}

.listStyle-1 {
    padding: 3px 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 5px rgba(0, 0, 0 , 0.5);
    transition: all .2s ease-in-out;
}
.listStyle-1:hover {
    padding: 3px 5px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0px 0px 5px rgb(6, 195, 167);
}

.infoUl li {
    list-style: circle;
}

.whiteBoxShadow {
  background-color: white ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.5);
}

.notFound {
  width: full;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.ProjectgridArea {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr;
  gap: 20px;
}

@media only screen and (max-width: 764px) {
  .ProjectgridArea {
    grid-template-columns: repeat(3, 1fr);
  }}
@media only screen and (max-width: 450px) {
  .ProjectgridArea {
    grid-template-columns: 2fr;
  }}

  @media only screen and (min-width: 764px) {
    .gridprjItem:nth-child(1){
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 3;
      height: auto;
    }

  }

.gridprjItem {
  border-radius: 10px;
  height: 190px;
}

.Contact-Card {
  background-color: white ;
  box-shadow: 0px 0px 10px rgba(0, 0, 0 , 0.5);
  border-radius: 4px;
  padding: 8px 10px;
}


/* HumBurger Button */
.humburger-btn {
  width: 25px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  z-index: 99;
  cursor: pointer;
  
}

.bar-line {
  width: 100%;
  height: 3px;
  background-color: rgb(51 65 85);
  box-shadow: small;
  border-radius: 2px;
  transition: all .5s ease-in-out;
}

.bar-line::before ,
.bar-line::after
 {
  content: '';
  display: block;
  width: 100%;
  border-radius: 2px;
  position: absolute;
  height: 3px;
  background-color: rgb(51 65 85);
  transition: all .5s ease-in-out;
}

.bar-line::before {
  transform: translateY(-10px);
  transition: all .5s ease-in-out;
}
.bar-line::after {
  transform: translateY(10px);
}

.humburger-active .bar-line {
   transform: translateX(-100%);
   background: transparent;
}
.humburger-active .bar-line::before {
  background-color: rgb(255, 255, 255);
  transform: rotate(45deg) translate(18px , -18px)
}
.humburger-active .bar-line::after {
  background-color: rgb(255, 255, 255);
  transform: rotate(-45deg) translate(18px , 18px)
}
/* HumBurger Button */
.humburgerMenuWrapper {
  opacity: 0;
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgb(23, 42, 59);
  transform: translateX(100%);
  animation: deactivehumburger 0.5s ease-in-out;
}

.humburgerMenuWrapper.active {
  opacity: 1;
  transform: translateX(0%);
  animation: humburger 0.5s ease-in-out;
}


@keyframes humburger {
  from{
    opacity: 0;
    transform: translateX(100%);
  }
  to{
    opacity: 1;
    transform: translateX(0%);
  }
}

@keyframes deactivehumburger {
  from{
    opacity: 1;
    transform: translateX(0%);
  }
  to{
    opacity: 0;
    transform: translateX(100%);
  }
}
